.privacy{
    h1 , h3{
        text-align: center;
        color: #6085e4;
    }
    h4{
        color: #6085e4;
        margin: 15px 0 15px 0;
    }
}
.refund{
    h1 , h3{
        text-align: center;
        color: #6085e4;
    }
    h4{
        color: #6085e4;
        margin: 15px 0 15px 0;
    }
}
.shopping{
    h1 , h3{
        text-align: center;
        color: #6085e4;
    }
    h4{
        color: #6085e4;
        margin: 15px 0 15px 0;
    }
}
.terms{
    h1 , h3{
        text-align: center;
        color: #6085e4;
    }
    span{
        color: #6085e4;
        font-size: 20px;
    }
    h4{
        color: #6085e4;
        margin: 15px 0 15px 0;
    }
}